@media(max-width: 1920px){
 .menu{
   &__btn{
     display: none;
   }
 }
}

@media(max-width: 1200px){
  .footer{
    padding: 50px 15px;
    &__info{
      margin-right: 0;
    }
  }
}

@media(max-width: 1100px){
  .reviews{
    &__box-item{
      max-width: 400px;
      margin-left: 10%;
     
    }
    .slick-next{
      right: 5px;
    }
  }
  .footer{

    &__form{
      padding: 5px 15px;
      max-width: 420px;
      &__title{
        margin-bottom: 10px;
        font-size: 40px;
      }
    }
  }

}

@media(max-width: 900px){
  .header{
    &__inner{
      padding: 0;
      margin: 0 auto;
    }
  }
  .menu{
    position: relative;
    margin: 0 auto;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      height: 65px;
      width: 113px;
      top: 0;
      left: 5px;
        }
     &__list{
      transform: translateY(-200%);
      top: 79px;
      position: absolute;
      z-index: 11;
      display: flex;
      flex-direction: column;
      left: 0;
      max-width: 900px;
      width: 100%;
      background-color: #fff;
      text-align: center;
      height: 555px;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .6s;

      }
      &-item{
        &:hover{
          border-bottom: none;
          background-color: transparent;
        }
      }
      &-link{
        display: block;
        color: #38aa96;
        &:hover{
          color: #000;
        }
      }
      &-logo{
        display: none;  
      }
    }
    &__btn{
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      background-image: url('../images/icons/menu.svg');
      background-repeat: no-repeat;
      right: 5px;
      top: 20%;
      z-index: 10;

    }
 }
 
 .about{

  &__info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    padding: 0 15px;
    margin-top: -90px;
    &-team,&-online,&-practic,&-sertificate{
      max-width: 400px;
      &::after{
        display: none;
      }
    }
  }
 }

 .team{
 
    &__slider-info{
      margin-right: 30px;
      margin-top: 0;
    }
    &__slider-img{
      width: auto;
    }
    &__photo-box{
      padding: 0 15px;
    }
 }

 .price{
   &__box{
   display: block;
 
     &-item{
       margin: 10px auto;
  

     }

   }
 }
 .reviews{
    &__box-item{
      max-width: 450px;
      
    }
  }

}

@media(max-width: 750px){

  .about{
   height: 1000px;
   &__inner{
     padding-top: 160px;
    }
    &__btn{
      margin-bottom: 180px;
    }
  }
  .reviews{
    .slick-next{
      top: -50px;
      right: 5px;
    }
    .slick-prev{
      top: -50px;
    }
  }

  .footer{
    padding: 20px 15px;
    &__inner{
      display: block;

    }
    &__info{
      display:block;
      padding: 15px;
      margin: 0 auto;
      margin-bottom: 10px;
      &-title{
      margin-bottom: 15px;
      font-size: 30px;
    }
    }
    &__phone-number{
      margin-bottom: 20px;
    }
    &__form{
      display:block;
      margin: 0 auto;
      &__title{
        font-size: 30px;
      }
    }
  }
}


@media(max-width: 650px){
  .team{
    
    &__slider{
      &-items{
        height: 300px;
      }
      &-title{
        margin-bottom: 10px;
      }
      &-text{
        margin-bottom: 10px;
      }
    }
  }
}

@media(max-width: 580px){


.about{
  &__title{
    font-size: 38px;
  }
  &__subtitle{
      margin-bottom: 30px;
    }
  &::after{
    display: none;
  }
  &__info{
    margin-top: -230px;
    grid-template-columns: repeat(1, 1fr);
    &-team,&-online,&-practic,&-sertificate{
      max-width: 520px;
    }
  }
  &__btn{
    margin-bottom: 260px;
  }
}

.team{
  padding: 30px 0 30px 0;
  &__title{
    font-size: 40px;
  }
  &__slider{
    &-photo{
      display: none;
    }
    &-info{
      display: block;
      margin: 0 auto;
   

    }
    &-items{
      height: 200px;
      

    }
  }
 }

 .price{
   &__title{
     font-size: 40px;
   }
 }
 .reviews{
    &__box-item{
      max-width: 450px;
      margin-left: 0;
    }
    &__title{
      font-size: 40px;
    }
  }
}


@media(max-width: 440px){

  .team{
    &__photo-box{
      padding: 0 15px 0 30px;
    }
    &__slider-title{
      font-size: 30px;
    }
  }

  .footer{
    &__form{
      &-text-1{
        margin-bottom: 20px;
        margin-right: 15px;
      }
      &-text-2{
        margin-bottom: 20px;
        margin-right: 15px;
      }
      &-text-3{
        margin-bottom: 20px;
        margin-right: 15px;
      }
      &-text-4{
        margin-bottom: 20px;
      }
    }
  }
}